<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>creditcard issues Issues</title>
  <!-- Add your CSS stylesheets and other external dependencies here -->
  <div >
    <img src="cyberbank.png" alt="Paris" style="width:30%">
  </div>
</head>
<body>
  <h1>creditcard Issues</h1>
  
  <div >
    <img src="damage.png" alt="Paris" style="width:250px" >
  </div>
  <div >
    <img src="loss.png" alt="Paris" style="width:250px" >
  </div>
  <div >
    <img src="theft.png" alt="Paris" style="width: 200px" >
  </div>


  <form method="get" action="/reportcreditcarddamage">
  <button type="submit">Report CreditCard Damage</button>  
</form>

<form method="get" action="/reportcreditcardloss">
  <button type="submit">Report CreditCard Loss</button>  
</form>


  <form method="get" action="/reportcreditcardtheft">
    <button type="submit">Report CreditCard Theft</button>  
    </form>
  <!-- Add content for reporting technical issues here -->
</body>
<style>
  image{
    size:43px;
    padding: 30px;
    width: 30%;
    position:relative;
  }
  h1{
    font-size: 50px;
      font-weight: bold;
      margin-bottom: 10px;
      margin-left: 1%;
      color: black;
  }
  title{
    align-content: center;
    align-items: center;
    

  }
  button{
    background-color: #4169e1;
      border:none ;
      color: white;
      padding: 15px 80px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 88px 400px;
      cursor: pointer;
      position: relative;
      top: -670px;
      right: 180px;
  }
  body {
    background-image: url('Home.jpeg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      font-family: Arial, sans-serif;
       }
</style>
</html>
