<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Report Card loss</title>
  <div >
    <img src="cyberbank.png" alt="Paris" style="width:30%">
  </div>
  <!-- Add any necessary stylesheets or scripts -->
</head>
<body>

  <!-- Add your HTML content for the report card theft page -->
  <h1>Report Card loss</h1>
  <p>
    Your Report has been send to the admin, and will be handled as soon as possible.
  </p>
  <p>Your Credit Has been deactivated permanently and no further Transaction can be done using this Credit Card.</p>
  <p>You are adviced to apply for a new Credit Card.</p>
  <section class="section">
    <div>
      <img src="newcreditcard.png" alt="Paris" style="width:30%" class="move-me"  >
    </div>
    </section>
  <form  method="get" action="/creditcardrequest">
    <button>Apply for new a CreditCard 
  </button>
  </form>
 
</body>
<style>
  body {     
      background-image: url('Home.jpeg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      font-family: Arial, sans-serif;
    }
    button{
      background-color: #5e83f1;
      border:none ;
      color: white;
      padding: 15px 50px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 88px 400px;
      cursor: pointer;
      position: relative;
      top: -480px;
      right: 180px;
    }
    .newcreditcard{
      padding: 140px;
    }
    .move-me{
        width: 10px;
        height: 400px;
        position: relative;
        top: -120px;
        left: -130px;
    }
    
  
  
</style>
</html>