<!DOCTYPE html>
<html>
 
<head>
  <meta charset="utf-8">
  <title>Client Dashboard</title>
  <!-- Add your CSS stylesheets and other external dependencies here -->
  
</head>
<body>
  
  <h1>Welcome Client!</h1>
  <form method="get" action="/close_bank_account">
  <button type="submit" >Close Bank Account</button>
  </form>
  <form method="get" action="/view_bank_transactions">
  <button type="submit" >View Bank Account Transactions</button>
  </form>
  <form method="get" action="/view_credit_card_transactions">
  <button type="submit">View Credit Card Transactions</button>
  </form>
  <form method="get" action="/set_reminders">
  <button type="submit">Set Reminders for Payments</button>
  </form>
  <form method="=get" action="/technical_issues">
  <button type="submit">Report Technical Issues</button>
  </form>
  <form  method ="get" action="/view_third_party_transactions">
  <button type="submit">View Third-Party App Transactions</button>
  </form>


  <!-- Add Client Dashboard content here -->
  <style>
    button{
     background-color: #4CAF50;
      border:none ;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 10px 4px;
      cursor: pointer;
     
   }
   body {
       background-image: url('Home.jpeg');
       background-repeat: no-repeat;
       background-size: 100% 100%;
       background-color:rgb(51, 75, 153);
       }
 </style>
</body>
</html>
