<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>View Credit Card Points</title>
 
  <style>
    body { 
      overflow: hidden;
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
   background-image: url('Home.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:100% 87%;
  background-position: bottom ;
  margin: 0%;
  font-family: Arial, sans-serif;
  font-family: Arial, Helvetica, sans-serif;      
  
    }
    
    .header {
      background-color: #6eb1bd;
      position: relative;
    }
    .header button{
      position: absolute;
      top: 25%;
      width: 8%;
      text-align: center;
      font-size: 25px;
      font-weight: bold;
      margin-left: 90%;
      color: #ffffff;
      background-color: #000000;
    }
     
   
    
    .header h1 {
      position: absolute;
      top: 15%;
      width: 100%;
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      margin-left: auto;
      color: #000000;
    }
    p {
      font-size: 25px;
      margin-bottom: 10px;
      color: #000000;
      margin-left: 2%;
    }
   
   
    
    a {
      color: #000000;
      text-decoration: none;
    }
    a:hover {
      
      color: #186cc7;
    }
   
  



  </style>
</head>
<body>
  <div class="header">
          
    <img src="Logo.png" alt:"L" width="300" height="100" >
    <h1>Credit Card Points</h1>
    <form method="GET" action="/login">
      <button>Logoff</button>
    </form>
</div>
 <p>Your Credit Card Request has been successfully added and will be soon accepted</p>

  
</body>
</html>
