<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>View Credit Card Points</title>
 
  <style>
    body { 
      overflow: hidden;
      margin: 0;
      font-family: Arial, Helvetica, sans-serif;
   background-image: url('Home.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:100% 87%;
  background-position: bottom ;
  margin: 0%;
  font-family: Arial, sans-serif;
  font-family: Arial, Helvetica, sans-serif;      
  
    }
    
    .header {
      background-color: #6eb1bd;
      position: relative;
    }
    .header button{
      position: absolute;
      top: 25%;
      width: 8%;
      text-align: center;
      font-size: 25px;
      font-weight: bold;
      margin-left: 90%;
      color: #ffffff;
      background-color: #000000;
    }
     
   
    
    .header h1 {
      position: absolute;
      top: 15%;
      width: 100%;
      text-align: center;
      font-size: 30px;
      font-weight: bold;
      margin-left: auto;
      color: #000000;
    }
    p {
      font-size: 25px;
      margin-bottom: 10px;
      color: #000000;
      margin-left: 2%;
    }
   
   
    button {
      padding: 10px 20px;
      background-color: #0066cc;
      color: #fff;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
    }
    button:hover {
      background-color: #004f99;
    }
    a {
      color: #000000;
      text-decoration: none;
    }
    a:hover {
      
      color: #186cc7;
    }
    label {
      display: block;
      font-size: 25px;
      margin-bottom: 5px;
      color: #000000;
      margin-left: 2%;
    }
    input[type="text"],
    input[type="password"] {
      padding: 10px;
      font-size: 16px;
      border: 1px solid #ccc;
      border-radius: 4px;
      width: 30%;
      margin-bottom: 10px;
      margin-left: 2%;
    }
   
  



  </style>
</head>
<body>
  <div class="header">
          
    <img src="Logo.png" alt:"L" width="300" height="100" >
    <h1>Pay Credit Card Bill</h1>
    <form method="GET" action="/login">
      <button>Logoff</button>
    </form>
</div>
<div>
  <img src="money.png" alt="Paris" style="width:200px">
</div>
<p for="Amount">Amount:</p>
<form method="get" action="/transfer">
  
  <input type="text" id="Amount" name="Amount" required>

  <button type="submit">Send </button>
</form>

  
</body>
</html>
