<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>


  <style>
 
 body { 
          margin: 0;
          font-family: Arial, Helvetica, sans-serif;
       background-image: url('Home.jpeg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size:100% 85%;
      background-position: center ;
      margin: 0%;
      font-family: Arial, sans-serif;
      font-family: Arial, Helvetica, sans-serif;      
      
        }
        
        
        
        .header a {
          float: left;
          color: black;
          text-align: center;
          padding: 12px;
          text-decoration: none;
          font-size: 18px; 
          line-height: 25px;
          border-radius: 4px;
        }
        
        .header a:hover {
          color: rgb(49, 114, 255);
        }
        
        .header a.active {
          background-color: rgb(8, 9, 9);
          color: white;
          font-size: 20px;
        }
        
        .header-right {
          float: right;
          padding: 25px;
          text-decoration: none;
          font-size: 1.2rem;
          margin-left: 25px;
          font-weight: 600;
          text-align: center;
          
        }
        .header img {
          margin-left: 2%;
          
        }
        

      table, th, td {
    border:1px solid black;
      }
      body{
          background-image: url("home.jpeg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
      }
      .header{
  line-height:3;
  
     }
    </style>
<body>
    <div class="header">
        <img src="cyberbank.png" alt="L"  width="300" height="100">
    <h2>Notifications Received</h2>

    <table WIDTH= 600>
      <tr>
        <th>Date</th>
        <th>Description</th>
        <th>Sender.</th>
        
      </tr>
      <tr>
        <td>2023-10-08</td>
        <td>Gas Bill reminder</td>
        <td>Banker</td>
         
      </tr>
      <tr>
        <td>2023-10-14</td>
        <td>Water Bill reminder </td>
        <td>Banker</td>
         
      </tr>
     
      <tr>
        <td>2023-10-14</td>
        <td>Electricity Bill reminder</td>
        <td>Banker</td>
         
      </tr>  
    
      <tr>
        <td>2023-10-16</td>
        <td>New Features Implemented</td>
        <td>Admin</td>
       
      </tr>  
     
      <tr>
        <td>2023-10-16</td>
        <td>Credit Car request Accepted</td>
        <td>Banker</td>
         
      </tr>  
      <tr>
        <td>2023-10-20</td>
        <td>Car Loan Accepted</td>
        <td>Banker</td>
         
      </tr> 
      <tr>
        <td>2023-10-21</td>
        <td>Personal Loan request got declined</td>
        <td>Banker</td>
         
      </tr> 
     
       
    </table>
    <br/>
    
    
     
       
    </table>
</body>
</html>