<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Registration Rejected</title>
  <div>
    <img src="Logo.png" alt="Paris" style="width:30%">
  </div>
  <!-- Add your CSS stylesheets and other external dependencies here -->
</head>
<body>
  <h1>Registration Rejected</h1>
  <p>Your registration request has been rejected by the bank.</p>
  <p>If you have any questions or need further assistance, please contact us:</p>
  <p>Phone: 19991</p>
  <p>Email: <a href="mailto:SoftwareEngineering.A+@Gmail.com">SoftwareEngineering.A+@Gmail.com</a></p>
  <!-- Add other content or messages as needed -->
</body>
<style>
  body{
    background-image: url('Home.jpeg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      font-family: Arial, sans-serif;
  }
</style>
</html>
