<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>transfer money</title>
  <div>
    <img src="Logo.png" alt="Paris" style="width:30%">
  </div>
  <!-- Add your CSS stylesheets and other external dependencies here -->
</head>
<body>
  <h1>Transfer Money</h1>
  <div>
    <img src="transfer.png" alt="Paris" style="width:15%">
  </div>
  <div>
    <img src="domestic.png" alt="Paris" style="width:13%">
  </div>
  <div>
    <img src="international.png" alt="Paris" style="width:17%">
  </div>
  <form method="get" action="/transfer">
    <button type="submit"><img src="transfer.png"width="200" height="100" style="background-color: red
    ;">Internal Transfer</button>  
  </form>
  
  <form method="get" action="/transfer">
    <button type="submit"><img src="domestic.png"width="200" height="100" ><style>img{color: aqua;}</style> Transfer</button>  
  </form>
  
  
    <form method="get" action="/transfer">
      <button type="submit"><img src="international.png" width="200" height="100" style="filter: invert(59%) sepia(53%) saturate(4496%) hue-rotate(159deg) brightness(91%) contrast(101%);" Transfer</button>  
      </form>
  <!-- Add other content or messages as needed -->
</body>
<style>
  body{
    background-image: url('Home.jpeg');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      font-family: Arial, sans-serif;
  }
  button{
    background-color:white;
      border:none ;
      color: white;
      padding: 15px 80px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 55px 400px;
      cursor: pointer;
      position: relative;
      top: -444px;
      right: 180px;
  }
</style>
</html>
