<!DOCTYPE html>
<html>
<head>
<style>

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 10px 10px;
}

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a:hover {
  color: rgb(49, 114, 255);
}

.header a.active {
  background-color: dodgerblue;
  color: white;
  font-size: 30px;
}

.header-right {
  float: right;
  padding: 25px;
}
.header img {
  margin-left: 3%;
}



</style>
</head>
<body>

<div class="header">
  <img src="Logo.png" alt="L"  width="200" height="100">
  <div class="header-right">
    <a class="active" href="/login">Login</a>
    
  </div>
</div>

<div style="padding-left:20px">
  
</div>

</body>
</html>
