<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylee.css"/>
    <link rel ="stylesheet" href = "https://fontawesome.com/icons/message-question?f=classic&s=solid"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <title>Document</title>
    <style>
      
        
        body { 
          overflow: hidden;
          margin: 0;
          font-family: Arial, Helvetica, sans-serif;
       background-image: url('Home.png');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size:100% 85%;
      background-position: bottom ;
      margin: 0%;
      font-family: Arial, sans-serif;
      font-family: Arial, Helvetica, sans-serif;      
      
        }
        
        .header {
          overflow: hidden;
          background-color: #6eb1bd;
          padding: 10px 10px;
          
        }
        
        .header a {
          float: left;
          color: black;
          text-align: center;
          padding: 12px;
          text-decoration: none;
          font-size: 18px; 
          line-height: 25px;
          border-radius: 4px;
        }
        
        .header a:hover {
          color: rgb(49, 114, 255);
        }
        
        .header a.active {
          background-color: rgb(8, 9, 9);
          color: white;
          font-size: 20px;
        }
        
        .header-right {
          float: right;
          padding: 25px;
          text-decoration: none;
          font-size: 1.2rem;
          margin-left: 25px;
          font-weight: 600;
          text-align: center;
          
        }
        .header img {
          margin-left: 0%;
          
        }
        
       
        </style>
</head>

<body>

    <div class="header">
        <img src="Logo.png" alt="L"  width="300" height="100">
  
            
            <div class="header-right">
            
            <a href ="#"> <i class="fa-solid fa-house fa-1x"></i>   Home   </a>
            <a href ="#"> <i class="fa-solid fa-circle-info fa-1x">  </i>  About </a>
            <a href ="#"> <i class="fa-solid fa-location-dot fa-1x"></i>  Branch & ATM Finder  </a>
            <a href ="#"> <i class="fa-solid fa-phone fa-1x"></i>   Contact Us   </a>

          <a class="active" href="/login">Login</a>
          

          
           
        
          
        </div>
      </div>
      
      <div style="padding-left:20px">
        
      </div>
     <br/> 
     </img src="WhatsApp Image 2023-05-27 at 8.12.39 PM.jpeg" alt="Italian Trulli" style="width:400px;height:400px;">
     <div class ="pas">
      <section class ="us">

      <h1> Next Generation <br/>
        digital banking</h1>
        <p>
          <br/> 
          Take your financial life online. Your bank account<br/> 
         will be a one-step-away.<br/> 
         Banking is about more than just products with <br/>
         Cyber Bank, it's an experience!<br/>
         <br/>
        </p>
        <form method="GET" action="/registration">
        <button> Register Now </button>
        </form>
           
      </section>
     </div>
   


    <br/>
    






    <br/>
    
</body>
</html>